# --- DJANGO ---
DJANGO_SECRET_KEY=django-insecure-p6^ped7h!8lxdm0f7pw%u0p!$h--b6lpi7aae5eli4(g)a+u@6
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SETTINGS_MODULE=config.settings.local

# --- DATABASE (Docker) ---
POSTGRES_DB=atlas_track
POSTGRES_USER=atlas_user
POSTGRES_PASSWORD=atlas_password
DATABASE_URL=postgres://atlas_user:atlas_password@db:5432/atlas_track

# --- gRPC ---
AUTH_GRPC_URL=auth-service:50051
